<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chitter</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Chitter</h1>

    {% if current_user.is_authenticated %}
    <h2>Welcome, {{ current_user.user_name }}</h2>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
    {% else %}
    <h2>Welcome, Guest</h2>
    <form action="/" method="get">
        <input type="submit" value="Login">
    </form>
    {% endif %}
    
    {% if current_user.is_authenticated %}
      <h2><a href="/newpost" class="button">Post</a></h2>
    {% endif %}
    {% for peep in peeps|reverse %}
    <div>
      <h3>@{{peep.user_name}} {{peep.posted_on}}</h3>
      <h3><a href="/peeps/{{peep.id}}">{{peep.peep}}</a></h3>
    </div>
    {% endfor %}
  </body>
</html>
