<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
  <div class="login_container">
    <h1>Login to Chitter</h1>
    <form action="/login" method="post">
        <input type="text" name="user_name" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
  </body>
</html>